<!-- Missing Persons Assignment -->
<!-- Oliver Escobar, Tayler Howard, Ashley Ondua, Karl Nordgren, Zack Olsen, Thayne Evans --><!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Human Trafficking</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" />-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">

        <a class="navbar-brand" href="#!">www.Bring-Them-Home.org</a>
      


        <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
        <a class="btn btn-secondary" style= "color: white" aria-current="page" href= "{% url 'addperson' %}" 
        <span class="badge bg-dark text-white ms-1 rounded-pill"></span> ADD MISSING PERSON</a>
  
        <a class="btn btn-secondary" href= "{% url 'search' %}"> SEARCH PERSON</a>
        {% comment %} <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        > {% endcomment %}
          {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
        </button>
        {% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent"> {% endcomment %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            
            {% comment %} <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="{% static anyone.jpg %}"
                rel="stylesheet"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Learn More</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
              </ul>
            </li> {% endcomment %}
          </ul>
          <form class="d-flex">
            <button class="btn btn-secondary" type="submit">
              <a class="nav-link active" style="color: white" aria-current="page" href="http://127.0.0.1:8000/index">JSON data</a>
              <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
            </button>
          </form> 
        {% comment %} </div> {% endcomment %}
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <h1></h1>
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          {% comment %} <h1 class="display-4 fw-bolder">Learn about Human Trafficking</h1>
          <img
                class="card-img-top"
                src="https://www.geoffreygnathanlaw.com/wp-content/uploads/2019/03/Human-Trafficking-Visual-2.jpg"
                alt="..."
              />
              <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                  <a class="nav-link active" aria-current="page" href="https://www.ctdatacollaborative.org/story/age-victims-children-and-adults">Learn More</a>
                  <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                </button>
              </form>  {% endcomment %}
              <img
                class="card-img-top"
                style="width: 100%; margin-left: center; margin-top: -5rem;"
                src="https://www.geoffreygnathanlaw.com/wp-content/uploads/2019/03/Human-Trafficking-Visual-2.jpg"
                alt="infographic on human trafficking"
              />
          <br><br><br><br>
          <p class="lead fw-normal text-white-50 mb-0">
            "Can You Identify Any of the Following People in Your Area?"
          </p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >{% for person in missingPerson %}
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Person name-->
                  <h5 class="fw-bolder">{{ person.first_name }} {{ person.last_name }}</h5>
                 <!-- Date Missing -->
                 Date Missing: {{ person.date_missing}}
                <div class="d-flex justify-content-center small text-warning mb-2"
               >
              </div>
               <!-- Product price-->
               Age Missing: {{ person.age_at_missing }} 
               <br><br>
               City: {{ person.city }}
              <br><br>
              State: {{ person.state }}
              <br><br>
              Gender: {{ person.gender }}
              <br><br>
              Race: {{ person.race }}
             </div>
             
            </div>
              <!-- Product actions-->
              
            </div>
          </div>
          {% endfor %}
    <!-- Footer-->
  
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    
  </body>
  <footer class="py-5 bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container px-4 px-lg-5">
        </button>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          </ul>
          <form class="d-flex">
            <button 
            class="btn btn-secondary" 
            type="submit" 
            style="margin-left: center; margin-bottom: 1rem">
              <center><a class="nav-link active" style="color: white" aria-current="page" href="http://127.0.0.1:8000/index">JSON data</a></center>
              <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
            </button>
          </form> 
      </div>
    </nav>
    <div class="container">
      <p class="m-0 text-center text-white">
        If you have any information<br><br>
        Contact Us: <br>
        Hotline: 1-888-373-7888<br>
        Text: 233733
        <br>
      </p>
    </div>
    <br>
