{% extends 'base.html' %} {% block content %}

<h1>Search for a person!</h1>
<form method="get">
  <label for="first_name">Name</label>
  <input type="text" id="first_name" name="first_name" />
  <button type="submit" class="btn btn-secondary">Search</button>
</form>

{% if missingPerson|length == 0 %}
<p>Your search returned no results.</p>
{% else %} {% for person in missingPerson %}
<div class="col">
  <div class="card mb-4" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ person.first_name }} {{ person.last_name }}</h5>
      <p class="card-text">Date Missing: {{ person.date_missing }}</p>
      <p class="card-text">Age at Missing: {{person.age_at_missing}}</p>
    </div>
  </div>
</div>
{% endfor%} {% endif %} {% endblock %}
