
{% extends 'base.html' %} {% block content %} 
<a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
<a class="btn btn-secondary" style= "color: white" aria-current="page" href= "{% url 'addperson' %}" 
<span class="badge bg-dark text-white ms-1 rounded-pill"></span> ADD MISSING PERSON</a>

<a class="btn btn-secondary" href= "{% url 'search' %}"> SEARCH PERSON</a>

<form name="form" method="post" action= "{% url 'addperson' %}">
    {% csrf_token %}
    <h1>Search for a person!</h1>
    <form method="get"> 
  <label for=" ">Name</label>
  <input type="text" id="person_id" name="missing_person" />
  <button type="submit" class="btn btn-secondary">Search</button>
    </form>

    {% if books|length == 0 %}
    <p>Your search returned no results.</p>
    {% else %} {% for missing_person in missing_person%}
    <div class="col">
      <div class="card mb-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ missing_person.fullname }}</h5>
          <p class="card-text">By: {{ missing_person.datelost }}</p>
          <p>{{missing_person.description}}</p>
          <a href="{% url 'book_detail' book_id=book.id %}" class="btn btn-primary"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}

    <h1></h1>
    <p></p>
</form>
{% endblock %}

